<a href="https://colab.research.google.com/github/phermi2002/engo645_test_repo/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1


Assignment 1 includes 4 parts. For each part you need to modify the notebook by adding your own programming solutions or written text.

Remember to save and commit your changes locally, and push your changes to GitHub after each major change! Regular commits will help you to keep track of your changes (and revert them if needed). Pushing your work to GitHub will ensure that you don't lose any work in case your computer crashes (can happen!).

## Notes about the exercise notebook

1. The Python code cells where you should make changes contain text that reads:

    ```Python

    # YOUR CODE HERE
    raise NotImplementedError()
    
    ```
    <br/>**You should delete that text and replace it with your solution (code)**.

   
   <br><br/>
2. The Markdown cells where you should make changes contain text that reads:

    ```text
    
    YOUR ANSWER HERE
    ```
    <br/>**You should delete that text and replace it with your answer**.
<br><br/>

3. Some of the cells in this Jupyter Notebook are `# test-cell`, which means that you must not edit them.
4. **Do not make any changes to the .csv file provided in the data folder.**

# Problem Definition



In this assignment, we'll dive into a dataset containing 100,000 orders made in Brazil from 2016 to 2018. Our goal is to use the features of python `pandas` and `matplotlib`, to explore, calculate, and visualize interesting things about this e-commerce data.


### Description of columns

| Column  | Description  |
| --- | --- |
| order_id | unique identifier of the order. |
| order_status | Reference to the order status (delivered, shipped, etc). |
| order_purchase_timestamp | Shows the purchase timestamp. |
| order_delivered_carrier_date | Shows the order posting timestamp. When it was handled to the logistic partner. |
| order_delivered_customer_date | Shows the actual order delivery date to the customer. |
| order_estimated_delivery_date | Shows the estimated delivery date that was informed to customer at the purchase moment. |
|order_item_id | sequential number identifying number of items included in the same order. |
| --- | --- |
| customer_unique_id | unique identifier of a customer. |
| customer_zip_code_prefix | first five digits of customer zip code |
| customer_city | customer city name |
| customer_state | customer state |
| customer_latitude | customer location information|
| customer_longitude | customer location information|
| --- | --- |
| review_score | Note ranging from 1 to 5 given by the customer on a satisfaction survey. |
| review_comment_message | Comment message from the review left by the customer, in Portuguese. |
| --- | --- |
| price | item price |
| freight_value | item freight value item (if an order has more than one item the freight value is splitted between items) |
| --- | --- |
| product_category_name | root category type of product, in English. |
| --- | --- |
| seller_zip_code_prefix | first 5 digits of seller zip code |
| seller_city | seller city name |

## Part 1 (Loading data)

The first step for this problem is to read the data file `e-commerce_data.csv` into a variable `data` using pandas.

Remember you can use .info() to see more information about your dataframe columns and datatypes.

In [2]:
# import the necessary packages
import pandas as pd

# load the data
link = '/content/sample_data/e-commerce_data.csv'
data = pd.read_csv(link, sep=',')




# YOUR CODE HERE
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114092 entries, 0 to 114091
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       114092 non-null  object
 1   order_status                   114092 non-null  object
 2   order_purchase_timestamp       114092 non-null  object
 3   order_delivered_carrier_date   112112 non-null  object
 4   order_delivered_customer_date  110839 non-null  object
 5   order_estimated_delivery_date  114092 non-null  object
 6   customer_unique_id             114092 non-null  object
 7   customer_zip_code_prefix       114092 non-null  int64
 8   order_item_id                  113314 non-null  float64
 9   product_id                     113314 non-null  object
 10  price                          113314 non-null  float64
 11  freight_value                  113314 non-null  float64
 12  seller_zip_code_prefix         113314 non-null  float64
 13  seller_city                    113314 non-null  object
 14  product_category_name_english  111678 non-null  object
 15  review_score                   113131 non-null  float64
 16  customer_latitude              113781 non-null  float64
 17  customer_longitude             113781 non-null  float64
 18  customer_city                  113781 non-null  object
 19  customer_state                 113781 non-null  object
dtypes: float64(7), int64(1), object(12)
memory usage: 17.4+ MB

Check that the first 5 rows of the DataFrame look ok: (show the first 5 rows)

In [10]:




# YOUR CODE HERE
#display(data.head())
display(data.head(20))

,order_id,order_status,order_purchase_timestamp,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,order_item_id,product_id,price,freight_value,product_category_name_english,review_score,customer_latitude,customer_longitude,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,1.0,87285b34884572647811a353c7ac498a,29.99,8.72,housewares,4.0,-23.574809,-46.587471,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,1.0,595fac2a385ac33a80bd5114aec74eb8,118.70,22.76,perfumery,4.0,-12.169860,-44.988369,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,1.0,aa4383b373c6aca5d8797843e5594415,159.90,19.22,auto,5.0,-16.746337,-48.514624,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,delivered,2017-11-18 19:28:06,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,27.20,pet_shop,5.0,-5.767733,-35.275467,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,delivered,2018-02-13 21:18:39,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,1.0,65266b2da20d04dbe00c5c2d3bb7859e,19.90,8.72,stationery,5.0,-23.675037,-46.524784,santo andre,SP
5,a4591c265e18cb1dcee52889e2d8acc3,delivered,2017-07-09 21:57:05,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00,80bb27c7c16e8f973207a5086ab329e2,86320,1.0,060cb19345d90064d1015407193c233d,147.90,27.36,auto,4.0,-23.548581,-50.550660,congonhinhas,PR
7,6514b8ad8028c9f2cc2374ded245783f,delivered,2017-05-16 13:10:30,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00,932afa1e708222e5821dac9cd5db4cae,26525,1.0,4520766ec412348b8d4caa5e8a18c464,59.99,15.17,auto,5.0,-22.800936,-43.424861,nilopolis,RJ
8,76c6e866289321a7c93b82b54852dc33,delivered,2017-01-23 18:29:09,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00,39382392765b6dc74812866ee5ee92a7,99655,1.0,ac1789e492dcd698c5c10b97a671243a,19.90,16.05,furniture_decor,1.0,-27.420763,-52.674188,faxinalzinho,RS
9,e69bfb5eb88e0ed6a785585b27e16dbf,delivered,2017-07-29 11:55:02,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00,299905e3934e9e181bfb2e164dd4b4f8,18075,1.0,9a78fb9862b10749a117f7fc3c31f051,149.99,19.77,office_furniture,5.0,-23.478754,-47.467931,sorocaba,SP
10,e6ce16cb79ec1d90b1da9085a6118aeb,delivered,2017-05-16 19:41:10,2017-05-18 11:40:40,2017-05-29 11:18:31,2017-06-07 00:00:00,f2a85dec752b8517b5e58a06ff3cd937,20780,1.0,08574b074924071f4e201e151b152b4e,99.00,30.53,garden_tools,1.0,-22.886501,-43.268834,rio de janeiro,RJ
11,e6ce16cb79ec1d90b1da9085a6118aeb,delivered,2017-05-16 19:41:10,2017-05-18 11:40:40,2017-05-29 11:18:31,2017-06-07 00:00:00,f2a85dec752b8517b5e58a06ff3cd937,20780,2.0,08574b074924071f4e201e151b152b4e,99.00,30.53,garden_tools,1.0,-22.886501,-43.268834,rio de janeiro,RJ
12,34513ce0c4fab462a55830c0989c7edb,delivered,2017-07-13 19:58:11,2017-07-14 18:43:29,2017-07-19 14:04:48,2017-08-08 00:00:00,782987b81c92239d922aa49d6bd4200b,4278,1.0,f7e0fa615b386bc9a8b9eb52bc1fff76,98.00,16.13,computers_accessories,4.0,-23.602105,-46.608607,sao paulo,SP
13,82566a660a982b15fb86e904c8d32918,delivered,2018-06-07 10:06:19,2018-06-11 13:29:00,2018-06-19 12:05:52,2018-07-18 00:00:00,e97109680b052ee858d93a539597bba7,35400,1.0,72a97c271b2e429974398f46b93ae530,31.90,18.23,perfumery,5.0,-20.385237,-43.505513,ouro preto,MG
14,5ff96c15d0b717ac6ad1f3d77225a350,delivered,2018-07-25 17:44:10,2018-07-26 13:16:00,2018-07-30 15:52:25,2018-08-08 00:00:00,e2dfa3127fedbbca9707b36304996dab,4812,1.0,10adb53d8faa890ca7c2f0cbcb68d777,19.90,12.80,bed_bath_table,5.0,-23.711919,-46.687252,sao paulo,SP
15,432aaf21d85167c2c86ec9448c4e42cc,delivered,2018-03-01 14:14:28,2018-03-02 21:09:20,2018-03-12 23:36:26,2018-03-21 00:00:00,04cf8185c71090d28baa4407b2e6d600,5271,1.0,72d3bf1d3a790f8874096fcf860e3eff,38.25,16.11,toys,4.0,-23.428081,-46.793659,sao paulo,SP
16,dcb36b511fcac050b97cd5c05de84dc3,delivered,2018-06-07 19:03:12,2018-06-11 14:54:00,2018-06-21 15:34:32,2018-07-04 00:00:00,ccafc1c3f270410521c3c6f3b249870f,74820,1.0,009c09f439988bc06a93d6b8186dce73,132.40,14.05,perfumery,5.0,-16.712157,-49.248251,goiania,GO
18,116f0b09343b49556bbad5f35bee0cdf,delivered,2017-12-26 23:41:31,2017-12-28 18:33:05,2018-01-08 22:36:36,2018-01-29 00:00:00,6087cfc70fd833cf2db637a5e6e9d76b,88780,1.0,a47295965bd091207681b541b26e40a5,27.99,15.10,telephony,5.0,-28.190231,-48.664604,imbituba,SC
19,85ce859fd6dc634de8d2f1e290444043,delivered,2017-11-21 00:03:41,2017-11-23 21:32:26,2017-11-27 18:28:00,2017-12-11 00:00:00,d0ff1a7468fcc46b8fc658ab35d2a12c,13186,1.0,cce679660c66e6fbd5c8091dfd29e9cd,17.90,11.85,bed_bath_table,5.0,-22.887515,-47.195739,hortolandia,SP
20,83018ec114eee8641c97e08f7b4e926f,delivered,2017-10-26 15:54:26,2017-10-26 21:46:53,2017-11-08 22:22:00,2017-11-23 00:00:00,634f09f6075fe9032e6c19609ffe995a,44024,1.0,c35498fbb4358837ae16850f50c3fd22,76.00,16.97,telephony,4.0,-12.244947,-38.980318,feira de santana,BA
21,203096f03d82e0dffbc41ebc2e2bcfb7,delivered,2017-09-18 14:31:30,2017-10-06 17:50:03,2017-10-09 22:23:46,2017-09-28 00:00:00,d699688533772c15a061e8ce81cb56df,4001,1.0,5ac9d9e379c606e36a8094a6046f75dc,109.90,8.96,health_beauty,2.0,-23.572301,-46.652000,sao paulo,SP

## Part 2 (Cleaning data)



### Step 1:
First step in cleaning is to check how many no-data (missing values) and duplicate values we have:

- Check how many no-data (null) values exist for each column
- Check how many duplicate rows exist (How many rows have identical values for all columns)

In [4]:
nodata_count = None # count the number of nodata values
duplicate_count = None # count the number of duplicate values


# YOUR CODE HERE
nodata_count = data.isnull().sum()
duplicate_count = data.duplicated().sum() # count the number of duplicate values

In [5]:
######### This is a test-cell that print the number of null and duplicate rows #########

print(f'Number of no-data values in each column:\n {nodata_count} \n')
print(f'Number of duplicate values in each column: {duplicate_count}')

Number of no-data values in each column:
 order_id                            0
order_status                        0
order_purchase_timestamp            0
order_delivered_carrier_date     1980
order_delivered_customer_date    3253
order_estimated_delivery_date       0
customer_unique_id                  0
customer_zip_code_prefix            0
order_item_id                     778
product_id                        778
price                             778
freight_value                     778
seller_zip_code_prefix            778
seller_city                       778
product_category_name_english    2414
review_score                      961
customer_latitude                 311
customer_longitude                311
customer_city                     311
customer_state                    311
dtype: int64

Number of duplicate values in each column: 401

### Step 2:
To clean the data, we need to eliminate any rows containing null values and also remove any duplicate rows.

- Write code to remove all null values
- Write code to remove all duplicate rows in the dataframe.

In [6]:

# YOUR CODE HERE
# Task to remove null values and duplicate rows
data.dropna(inplace=True) # To remove all the rows containing null values
data.drop_duplicates(inplace=True) # remove all duplicate rows in the datadrame

### Step 3:

Next step is to remove unnecessary information.

Some information in the data might be extra for our current analysis including  `seller_zip_code_prefix` and  `seller_city`.

- Identify and remove mentioned columns from the dataframe

In [7]:


# YOUR CODE HERE
# Task to remove some information not required in the data
columns_to_remove = ['seller_zip_code_prefix', 'seller_city'] # The two columns we are removing from the data set
data = data.drop(columns=columns_to_remove)

For the purpose of this analysis, we just need to only work with orders that have been in fact, delivered.
Using the column `order_status` you can check the status of orders.

- You should filter the dataframe to keep the rows with "delivered" status

In [8]:

# YOUR CODE HERE
# To check the status of orders in the dataset with emphasis on orders that are delivered
group_delivered = data[data['order_status'] == 'delivered']

In [9]:
######### This is a test-cell that shows the descriptive statistics of the data #########
print(data['order_status'].value_counts())

delivered    107777
canceled          7
Name: order_status, dtype: int64

### Step 4:
We need to ensure that the location information we have about customers (customer_latitude and customer_longitude) falls within the geographical boundaries of Brazil. To achieve this, we must filter out latitude values that are not within the northern and southern bounds of Brazil, and similarly, remove longitude values that are outside the western and eastern bounds of Brazil.

- Write code to filter the location data, ensuring it falls within the geographical boundaries of Brazil.

In [11]:
# Brazils most Northern spot is at 5.27438888 latitude;
# Brazils most Southern spot is at -33.75083333 latitude;
# Brazils most Eastern spot is at -34.79314722 longitude;
# Brazils most Western spot is at -73.98555556 longitude;




# YOUR CODE HERE
# To Filter the location data and ensuring it fall within geographical boundaries of Brazil
# Define updated geographical boundaries for Brazil
northern_bound = (data['customer_latitude'] <= 5.27438888)
southern_bound = (data['customer_latitude'] >= -33.75083333)
western_bound = (data['customer_longitude'] >= -73.98555556)
eastern_bound = (data['customer_longitude'] >= -34.79314722)

# Apply filters to the DataFrame
brazil_boundary_data = data[northern_bound & southern_bound & western_bound & eastern_bound]

### Step 5:
The dataset contains four columns with date and time information. By default, pandas considers them as text strings.
Your objective is to write a code that converts the columns `order_purchase_timestamp`, `order_delivered_carrier_date`, `order_delivered_customer_date`, and `order_estimated_delivery_date` to the datetime format in pandas.

Steps:

- Write code to convert these columns to the datetime format using the `pd.to_datetime` function.
- Update the original dataframe with the newly formatted date and time columns.

In [ ]:


# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
######### This is a test-cell to show the  data types of the columns #########

data.dtypes

In [ ]:
######### This is a test-cell that shows the descriptive statistics of the data #########

data.describe()

## Part 3 (Data Exploratory Analysis)

### Step 1: What is the Total Revenue Per Day?


To determine the total revenue for each day, you can follow these steps:

1. Use `order_purchase_timestamp` column, convert it to 1 day period and store it in new column (e.g. you can name it `day`).
2. Use `day` and pandas `pd.groupby()` functionality to group data based on the column `day`
3. Use pandas functionality `.agg()` to aggregate the members in each group calculate the sum of `price` while aggregating.
4. Ensure that the results include the relevant time frame from September 2016 to August 2018.

In [ ]:




# YOUR CODE HERE
raise NotImplementedError()

Next, after determining the total revenue for each day, you can proceed to visualize the results using a **line chart**.
Follow these steps:

- You can use matplotlib (or any other libraries such as seaborn, etc) to plot the **line chart**.
- Use `day` in x-axis and aggregated price as y-axis of the chart.
- Label the x-axis with the corresponding days.
- Enhance the chart with appropriate titles and labels for clarity.

In [ ]:
# Import the necessary packages
import matplotlib.pyplot as plt
# import seaborn as sns         # optionally you can use seaborn style

plt.figure(figsize=(12, 6))


# YOUR CODE HERE
raise NotImplementedError()



plt.show()

The matplotlib line chart plot should produce something like following:

![Bar chart](img/line_chart.png)

### Question 1:

1. Dive into the line chart and tell us in few sentences what you discover about the daily revenue trends during the specific time period. Can you find any general tren during the perios? Take a deeper look at the spike indicated in the provided example and try to suggest why that happened.

*Hint : (You can take a look at calendar for 2017 and see what you can find!)*


YOUR ANSWER HERE

### Step 2: What's the Distribution of Customer Reviews?

The next step involves calculating customer review rates and visualizing the distribution using a pie chart. This give insight about overal satisfaction of customers of this online store.

Follow these steps:


1. Write a code to group the data by review rate, considering a scale from 1 to 5.
2. Utilize the calculated distribution to create a pie chart, where each slice represents the percentage of reviews.
3. Label each segment of the pie chart with the corresponding review rate (1, 2, 3, 4, 5).
4. Enhance the chart with appropriate titles and labels for clarity.

In [ ]:
# Import the necessary packages
import matplotlib.pyplot as plt
# import seaborn as sns         # optionally you can use seaborn style

plt.figure(figsize=(12, 6))



# YOUR CODE HERE
raise NotImplementedError()



plt.show()

### Question 2:

2. By taking a close look at the pie chart, what can you tell us about the percentage distribution of reviews among the customers? Explain your findings in few sentences.

YOUR ANSWER HERE

### Step 3: What Are Customers Buying?

To identify the top 10 most purchased product categories, and subsequently plot a bar chart, follow these steps:

1. Write a code to group the data by the 'product_category_name_english' field.
2. Calculate the total count each product category.
3. Sort the product categories based on the calculated count in descending order.
4. Select the top 10 product categories with the highest quantity.
5. Utilize the selected data to create a bar chart, where each bar represents a product category and the height represents the quantity.
6. Label each bar with the corresponding product category name.
7. Enhance the chart with appropriate titles and labels for clarity.

In [ ]:
# Import the necessary packages
import matplotlib.pyplot as plt
# import seaborn as sns         # optionally you can use seaborn style

plt.figure(figsize=(12, 6))



# YOUR CODE HERE
raise NotImplementedError()



plt.show()

The matplotlib bar chart plot should produce something like following:

![Bar chart](img/top10_products.png)

### Step 4: How Variable Are the Delivery Times for Each Product Category?

Use Box plot to vizualize boxplots for delivery time based on each product category type:

1. Calculate the delivery time by subtracting 'order_delivered_carrier_date' from 'order_delivered_customer_date'. Convert the result to days.
2. Create a new column in your dataset to store the calculated delivery time.
3. Create a new dataframe by grouping data by 'product_category_name_english' column and aggregate the group by averaging delivery time {"delivery_time_days": "mean"}

In [ ]:




# YOUR CODE HERE
raise NotImplementedError()


4. Create a box plot for delivery time for each category (optional hint: You can use `Seaborn` to have plot nicer boxplot)

(note: You can play with boxplot setting, for example if you see your plot is too busy and not readable, you can set `showfliers=False` to prevent showing outliars, and you can change label rotation to 90.)

In [ ]:
# Import the necessary packages
import matplotlib.pyplot as plt
# import seaborn as sns         # optionally you can use seaborn style

plt.figure(figsize=(12, 6))



# YOUR CODE HERE
raise NotImplementedError()



plt.show()

### Question 3:

3. Let's dig into the box plot. What can you tell us about the range and distribution? Share your insights and let's decode the boxes!

YOUR ANSWER HERE

### Step 5: What Does the Distribution Tell Us About Shipment Costs?

To explore the distribution of shipment prices, follow these steps:

1. Extract the 'frieght_value' column from your dataset.
2. Use the data to create a histogram, visualizing the frequency distribution of shipment prices.
3. Customize the histogram with appropriate bins and labels for clarity.

In [ ]:
# Import the necessary packages
import matplotlib.pyplot as plt
# import seaborn as sns         # optionally you can use seaborn style

plt.figure(figsize=(12, 6))



# YOUR CODE HERE
raise NotImplementedError()



plt.show()

### Question 4:

4. Take a closer look at the histogram! What insights can you gather about how shipment prices are spread out? Dive into the details and share your findings

*Hint : (trye to recap lecture materials about historgram and different data distribution!)*

YOUR ANSWER HERE

## Part 4 (Map Visualization)

### Step 1: Where are customers?

To visualize the geographical distribution of customers, follow these steps:

(try to show first 10,000 customers on map as showing all customer locaitons make the map too heavy)

1. Iterate through the DataFrame, (it is better to just work with first 10,000 customers as showing all customers on map makes the map too heavy and your computer may crash!)
2. Use the 'customer_latitude' and 'customer_longitude' columns to extract the location information for each customer.
3. Use Folium map library to add a `CircleMarker` for each customer on the map.
4. Customize the appearance of the markers to enhance visibility and aesthetics.
5. Display the interactive map, showcasing the locations of the first 10,000 customers.

In [ ]:
# Import the Folium library for interactive map visualization
import folium

# Create a Figure object to control the size of the map (width=800 pixels, height=500 pixels)
f = folium.Figure(width=800, height=500)

# Create a Folium Map object centered at the specified location in Brazil with an initial zoom level of 4
m = folium.Map(location=[-15.788497,-47.879873], zoom_start=4).add_to(f)




# YOUR CODE HERE
raise NotImplementedError()




f # display the map

### Step 2: Who Pays More for Transportation?

Let's uncover the geographical variations in transportation costs with a map. Follow these steps:

1. Group the data by 'customer_latitude' and 'customer_longitude'.
2. Calculate the average 'freight_value' for each group to determine the transportation fee in different location group.
3. Use `Folium` to plot each location on the map, using a `branca.colormap` library to represent the average transportation fee with colormap.

In [ ]:
# Import the Folium library for interactive map visualization
import folium

# Create a Figure object to control the size of the map (width=800 pixels, height=500 pixels)
f = folium.Figure(width=800, height=500)

# Create a Folium Map object centered at the specified location in Brazil with an initial zoom level of 4
m = folium.Map(location=[-15.788497,-47.879873], zoom_start=4).add_to(f)



# YOUR CODE HERE
raise NotImplementedError()




f # display the map

### Step 3: Who Waits More to Recieve the Order?

Now we want to discover how are the delivery times across the country. To show delivery time base on customer locations you can follow these steps:

1. Group the data by 'customer_latitude' and 'customer_longitude'.
2. Calculate the average "delivery_time_days" (you created this column in Part 3, Step 4) for each group to determine the average delivery time in different location group.
3. Use `Folium` to plot each location on the map, using a `branca.colormap` library to represent the average transportation fee with colormap.

In [ ]:
# Import the Folium library for interactive map visualization
import folium
# Import the branca library for colormap manipulation
import branca.colormap as cm

# Create a Figure object to control the size of the map (width=800 pixels, height=500 pixels)
f = folium.Figure(width=800, height=500)

# Create a Folium Map object centered at the specified location in Brazil with an initial zoom level of 4
m = folium.Map(location=[-15.788497,-47.879873], zoom_start=4).add_to(f)




# YOUR CODE HERE
raise NotImplementedError()





f # display the map

### Question 5:

Imagine you are the team leader of data analytics department for this online retail company! The CEO declared that the company wants to improve its delivery performance by establishing 2 more inventory hubs (warehouse) as a pre-storage strategy to boost delivery speed and reduce delivery cost for customers.
Based on the map visualization from previous steps, which areas would you suggest for placement of new inventory hubs for this company? Don't forget to explain why you suggest those areas!

*(Note: You take screen shot from the map and try to indicate 2 areas as candidate areas on the picture and put the picture in your answer.)*

YOUR ANSWER HERE